Source: openapp-backup
Section: misc
Priority: extra
Maintainer: Mark Schouten <mark@tuxis.nl>
Build-Depends: debhelper
Standards-Version: 3.9.1

Package: openapp-backup
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, bash
Description: Backup and restore you openpanel-openapp box without any hassle
 A backup and restore utility for OpenApp. Will create a new box practically
 identical to the source you use. Ideal for migrating to another VPS.
 .
 Please see http://www.openpanel.com/openapp/ for more info.
